.boxModel {
  background-color: #fff;
  height: auto;
  padding: 20px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}
.boxModelh5 {
  border-bottom: 2px #fed700 solid;
  padding-bottom: 15px;
  margin: auto;
  margin-bottom: 10px;
}
